- semantic_form_for(@service) do |f|
  = f.input :name
  %p
    = f.label :kind
    %br
    = f.text_field :kind
  %p
    = f.label :value_cents
    %br
    = f.text_field :value_cents
  = f.input :start_at, :as => :string, :html_input => { :class => "calendar" }
  = f.input :end_at, :as => :string, :html_input => { :class => "calendar" }
  %p
    = f.label :done
    %br
    = f.check_box :done
  %p
    = f.submit 'Update'

= link_to 'Show', @service
|
= link_to 'Back', services_path
