<h1>Listing services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Value cents</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Done</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%=h service.name %></td>
    <td><%=h service.kind %></td>
    <td><%=h service.value_cents %></td>
    <td><%=h service.start_at %></td>
    <td><%=h service.end_at %></td>
    <td><%=h service.done %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service', new_service_path %>