%p
  %b
    Name:
  = h @service.name
%p
  %b
    Kind:
  = h @service.kind
%p
  %b
    Value cents:
  = h @service.value_cents
%p
  %b
    Start at:
  = h @service.start_at
%p
  %b
    End at:
  = h @service.end_at
%p
  %b
    Done:
  = h @service.done
= link_to 'Edit', edit_service_path(@service)
|
= link_to 'Back', services_path
