<h1>Listing ads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Kind</th>
    <th>Body</th>
    <th>Start at</th>
    <th>End at</th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%=h ad.title %></td>
    <td><%=h ad.kind %></td>
    <td><%=h ad.body %></td>
    <td><%=h ad.start_at %></td>
    <td><%=h ad.end_at %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ad', new_ad_path %>