<p>
  <b>Title:</b>
  <%=h @ad.title %>
</p>

<p>
  <b>Kind:</b>
  <%=h @ad.kind %>
</p>

<p>
  <b>Body:</b>
  <%=h @ad.body %>
</p>

<p>
  <b>Start at:</b>
  <%=h @ad.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @ad.end_at %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>