.block
  #top
    %h2 Enviar Mensagem
  .clear
  .content
    .inner
      - form_for(@message, :html => {:class => :form}) do |f|
        = f.error_messages
        .group
          %label.label Para
          = f.select :to_id, @users
        .group
          %label.label Assunto
          = f.text_field :subject
        .group
          %label.label Mensagem
          = f.text_area :body, :size=>"48x14"
        .navform
          = f.submit "Enviar", :class => :button
          ou
          = link_to 'Cancelar', "/inbox"
