<h1>Editing register</h1>

<% form_for(@register) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value_cents %><br />
    <%= f.text_field :value_cents %>
  </p>
  <p>
    <%= f.label :sign %><br />
    <%= f.check_box :sign %>
  </p>
  <p>
    <%= f.label :due_at %><br />
    <%= f.datetime_select :due_at %>
  </p>
  <p>
    <%= f.label :cleared_at %><br />
    <%= f.datetime_select :cleared_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @register %> |
<%= link_to 'Back', registers_path %>