<p>
  <b>Name:</b>
  <%=h @register.name %>
</p>

<p>
  <b>Value cents:</b>
  <%=h @register.value_cents %>
</p>

<p>
  <b>Sign:</b>
  <%=h @register.sign %>
</p>

<p>
  <b>Due at:</b>
  <%=h @register.due_at %>
</p>

<p>
  <b>Cleared at:</b>
  <%=h @register.cleared_at %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>