%p= link_to "Gerar backup", new_backup_path
- semantic_form_for :backup, :action => :create, :html => { :multipart => true } do |f|
  = f.input :file, :as => :file, :label => "Enviar"
  = f.submit
%table.table
  %tr
    %th{:colspan => 2} Backups
  - for backup in @backups
    %tr
      %td= link_to l(Time.parse(backup[:name])), "backup/#{backup[:name]}"
      %td= number_to_human_size backup[:size]
      %td
        = link_to "Restore", "backup/#{backup[:name]}/restore", :confirm => "Restaurar?", :class => "icon down"
        = link_to "", "backup/#{backup[:name]}", :confirm => "Apagar este backup?", :method => :delete, :class => "icon delete"