- semantic_form_for(@person, :html => { :class => "form" }) do |f|
  .columns
    .column.left
      = f.input(:name, :label => "Nome")
      = f.input :sex, :label => "Sexo", :as => :radio, :collection => %w{Masculino Feminino}
      = f.input :marital, :as => :select, :collection => Person.get_marital_values
      = f.input :born_at, :as => :string
      = f.input :birthplace_id, :as => :string
      = f.input :blood, :as => :select, :collection => Person.get_blood_values
    .column.right
      - f.inputs :name => "Profissional", :id => "basic" do
        = f.input :profession, :label => "Profissao"
        = f.input :income
        = f.input :revenue
      - f.inputs :name => "Residencia", :id => "basic" do
        = f.input :arrival_at, :as => :string, :label => "Tempo Residencia"
        = f.input :house_type, :label => "Tipo residencia"
        = f.input :rooms
    .clear
    .group.navform
      = f.submit "Salvar"
      ou
      = link_to 'Cancelar', people_path
