- content_for :head do
  = javascript_include_tag "jquery/ui.datepicker", "jquery/jquery.template", "jquery/jquery.price"
  = javascript_include_tag "jquery/jquery.autocomplete.min", "app/person",  "app/forms"

- semantic_form_for(@person, :html => { :class => "form" }) do |f|
  .columns
    .column.left
      = f.input :name, :input_html => { :size => 40 }
      = f.input :sex, :as => :radio, :collection => Person.get_sex_values
      = f.input :marital, :as => :select, :collection => Person.get_marital_values
      = f.input :born_at, :as => :string, :input_html => { :size => 15, :class => "calendar" }
      = f.hidden_field :birthplace_id
      = f.input :birthplace_text, :as => :string
      - f.inputs :name => "Residencia", :id => "basic" do
        = f.input :arrival_at, :as => :string, :input_html => { :size => 10, :class => "calendar" }
        = f.input :leave_at, :as => :string, :input_html => { :size => 10, :class => "calendar" }
      - f.inputs :name => "Documentos", :id => "documents" do
        = f.render_associated_form @person.documents, :partial => "documents/document"
        = f.add_associated_link "+ Novo documento", :documents, :partial => "documents/document"
    .column.right
      = f.input :state, :as => :select, :collection => Person.get_state_values
      - f.inputs :name => "Pessoal", :id => "basic" do
        = f.input :mom_text, :as => :string
        = f.hidden_field :mom_id
        = f.input :dad_text, :as => :string
        = f.hidden_field :dad_id
        = f.input :spouse_text, :as => :string
        = f.hidden_field :spouse_id
        = f.input :prefix, :as => :select, :collection => %w{Sr Sra}
        = f.input :blood, :as => :select, :collection => Person.get_blood_values
        = f.input :race, :as => :select, :collection => Person.get_race_values
        = f.input :weight
        = f.input :height
      - f.inputs :name => "Profissional", :id => "basic" do
        = f.input :profession, :label => "Profissao"
        = f.input :profession_state, :as => :select, :collection => Person.get_profession_state_values
        = f.input :revenue, :input_html => { :class => "money" }

      //- f.semantic_fields_for :contact do |con|
      - f.inputs :name => "Contatos", :id => "contacts" do
        = f.render_associated_form @person.contacts, :partial => "contacts/contact"
        = f.add_associated_link "+ Novo contato", :contacts, :partial => "contacts/contact"

    .clear
  .navform
    = f.submit "Salvar &rarr;", :class => "button"
    ou
    = link_to 'Cancelar', people_path
