<% semantic_form_for(@person, :html => { :class => "form" }) do |f| %>
  <%= f.error_messages %>
  <div class="columns">
    <div class="column left">
      <%= f.input(:name, :label => "Nome") %>
      <%= f.input :sex, :as => :radio, :collection => %w{Masculino Feminino} %>
      <%= f.input :marital, :as => :select, :collection => Person.get_marital_values %>
      <%= f.input :born_at, :as => :string %>
      <%= f.input :birthplace_id, :as => :string %>
      <%= f.input :blood, :as => :select, :collection => Person.get_blood_values %>
    </div>
    <div class="column right">
      <%= f.input :arrival_at, :as => :string, :label => "Tempo Residencia" %>
        <% f.inputs :name => "Basic", :id => "basic" do %>
        <%= f.input :profession, :label => "Profissao" %>
        <%= f.input(:income) %>
        <%= f.input(:revenue) %>
      <% end %>
      <%= f.input(:house_type) %>
      <%= f.input(:rooms) %>
    </div>
    <div class="clear"></div>
    <div class="group navform">
      <%= f.submit "Salvar" %> ou <%= link_to 'Cancelar', people_path %>
    </div>
  </div>
<% end %>
