<% form_for(@person, :html => { :class => "form" }) do |f| %>
  <%= f.error_messages %>
  <div class="columns">
    <div class="column left">

      <%= form_input(:name, :label => "Nome") %>

      <div class="group">
        <%= f.radio_button :sex, true %> Masculino
        <%= f.radio_button :sex, false  %> Feminino
      </div>
      <div class="group">
        <%= f.label :estado_civil %>
        <%= f.select :marital, Person.get_marital_values %>
      </div>

      <%= form_input(:born_at, :label => "Nascimento") %>

      <div class="group">
        <%= f.label :birthplace %><br />
        <%# f.text_field :birthplace %>
      </div>

      <%= form_input(:arrival_at, :label => "Tempo Residencia") %>
      <%= form_input(:profession, :label => "Profissao") %>

      <div class="group">
        <%= f.label :Tipo_Sanguíneo %>
        <%= f.select :name, Person.get_blood_values, :prompt => "Selecione" %>
      </div>
    </div>
    <div class="column right">
      <%= form_input(:income) %>
      <%= form_input(:revenue) %>
      <%= form_input(:house_type) %>
      <%= form_input(:rooms) %>
    </div>
    <div class="clear"></div>
    <div class="group navform">
      <%= f.submit "Salvar" %> ou <%= link_to 'Cancelar', people_path %>
    </div>
  </div>
<% end %>
