- content_for :head do
  = stylesheet_link_tag "jquery/ui.theme"
  = javascript_include_tag "jquery/ui.datepicker", "jquery/jquery.template"

- semantic_form_for(@person, :html => { :class => "form" }) do |f|
  .columns
    .column.left
      = f.input :name, :input_html => { :size => 40 }
      = f.input :sex, :as => :radio, :collection => Person.get_sex_values
      = f.input :marital, :as => :radio, :collection => Person.get_marital_values
      = f.input :born_at, :as => :string, :input_html => { :size => 15 }
      = f.input :birthplace_id, :as => :string
      - f.inputs :name => "Residencia", :id => "basic" do
        = f.input :arrival_at, :as => :string, :input_html => { :size => 10, :id => "calendar" }
        = f.input :leave_at, :as => :string, :input_html => { :size => 10, :id => "calendar" }
      - f.inputs :name => "Documentos", :id => "documents" do
        = f.add_associated_link "+ Novo documento", :documents
        = f.render_associated_form @person.documents
    .column.right
      = f.input :state, :as => :select, :collection => Person.get_state_values
      - f.inputs :name => "Pessoal", :id => "basic" do
        =# f.input :mom, :as => :string
        =# f.input :dad, :as => :string
        =# f.input :spouse, :as => :string
        = f.input :prefix, :as => :select, :collection => %w{Sr Sra}
        = f.input :blood, :as => :select, :collection => Person.get_blood_values
        = f.input :race, :as => :select, :collection => Person.get_race_values
        = f.input :weight
        = f.input :height
      - f.inputs :name => "Profissional", :id => "basic" do
        = f.input :profession, :label => "Profissao"
        = f.input :profession_state, :as => :select, :collection => Person.get_profession_state_values
        = f.input :revenue

      //- f.semantic_fields_for :contact do |con|
      - f.inputs :name => "Contatos", :id => "contacts" do
        = f.render_associated_form @person.contacts
        = f.add_associated_link "+ Novo contato", :contacts
        //= con.input :value, :as => :string, :input_html => { :size => 10, :id => "calendar" }

    .clear
  .navform
    = f.submit "Salvar &rarr;", :class => "button"
    ou
    = link_to 'Cancelar', people_path
