<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Sex:</b>
  <%=h @person.sex %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @person.marital_status %>
</p>

<p>
  <b>Birth:</b>
  <%=h @person.birth %>
</p>

<p>
  <b>Birthplace:</b>
  <%=h @person.birthplace %>
</p>

<p>
  <b>Time residence:</b>
  <%=h @person.time_residence %>
</p>

<p>
  <b>Profession:</b>
  <%=h @person.profession %>
</p>

<p>
  <b>Income:</b>
  <%=h @person.income %>
</p>

<p>
  <b>Housing:</b>
  <%=h @person.housing %>
</p>

<p>
  <b>Type housing:</b>
  <%=h @person.type_housing %>
</p>

<p>
  <b>Type house:</b>
  <%=h @person.type_house %>
</p>

<p>
  <b>Room:</b>
  <%=h @person.room %>
</p>

<p>
  <b>Revenue:</b>
  <%=h @person.revenue %>
</p>

<p>
  <b>Habitantes:</b>
  <%=h @person.habitantes %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
