.block
  .content
    .inner
      .column.left
        %h3= @person.name
        = show @person, :sex_text, :state_text, :arrival_at, :profession_state_text
        = show @person, :profession, :marital_text, :born_at, :blood
        = @person.revenue.format
      .column.right
        %b Mae:
        = @person.mom.try(:name)
        %b Pai:
        = @person.dad.try(:name)
        %h3 Contatos
        - for contact in @person.contacts
          %p
            %b= contact.kind
            = ": #{contact.value}"
        %h3 Documentos
        - for document in @person.documents
          = show document, :value
      .clear
    .navform
      = link_to 'Editar', edit_person_path(@person)
      |
      = link_to 'Voltar', people_path
