<% form_for(@publication, :html => { :class => "form" }) do |f| %>
  <%= f.error_messages %>

  <div class="group">
    <%= f.label :titulo %><br />
    <%= f.text_field :title, :size => 70 %>
  </div>
  <div class="group">
    <%= f.label :texto %><br />
    <%= f.text_area :body, :size => "80x20" %>
  </div>
    <div class="group navform">
    <%= f.submit 'Salvar', :class => :button %> ou <%= link_to 'Cancelar', publications_path %>
  </div>
<% end %>
