.block
  .head
    %h2.title Editais
  .content
    - for publication in @publications
      .inner
        %h3= link_to publication.title, publication
        = publication.body
        .gray
          %p= "#{l publication.created_at} (#{time_ago_in_words(publication.created_at)})"
        %hr
    = will_paginate @publications


- content_for :sidebar do
  - if current_user
    .block
      %h3 Menu
      %ul.navigation
        %li= link_to image_tag('../images/icons/add.png', :class=>'img')+' Criar Edital', new_publication_path
