.block
  .head
    %h2.title Editais
  .content
    - for publication in @publications
      .inner
        %h3= link_to publication.title, publication
        = publication.body
        .gray
          %p= "#{l publication.created_at} (#{time_ago_in_words(publication.created_at)})"
        %hr
    = will_paginate @publications


- sidebar do
  = link "Criar Edital", new_publication_path, :class => 'icon iadd'
