- content_for :head do
  = stylesheet_link_tag "jquery/ui.theme", "jquery/jquery.wysiwyg"
  = javascript_include_tag "app/rich", "jquery/ui.datepicker", "jquery/jquery.wysiwyg"

- semantic_form_for(@article, :html => { :class => "form" }) do |f|
  = f.input :title, :input_html => { :size => 60 }
  = f.input :body, :input_html => { :size => "60x20" }
  = f.input :public
  = f.input :published
  - f.inputs :name => "Arquivo", :id => "arquivos" do
    = f.render_associated_form @article.medias, :partial => "medias/nested"
    = f.add_associated_link "+ Novo arquivo", :medias, :partial => "medias/nested"
  =# f.input :published_at, :as => :string, :input_html => { :id => "calendar" }
  .group.navform
    = f.submit 'Salvar', :class => :button
    ou
    = link_to 'Cancelar', articles_path
