- semantic_form_for(@official) do |f|
  = f.input :hired_at, :as => :string
  %p
    = f.label :post
    %br
    = f.text_field :post
  %p
    = f.submit 'Update'

= link_to 'Show', @official
|
= link_to 'Back', officials_path
