%h1
  Listing officials
%table
  %tr
    %th
      Hired at
    %th
      Post
  - @officials.each do |official|
    %tr
      %td
        = h official.hired_at
      %td
        = h official.post
      %td
        = link_to 'Show', official
      %td
        = link_to 'Edit', edit_official_path(official)
      %td
        = link_to 'Destroy', official, :confirm => 'Are you sure?', :method => :delete


= link_to 'New official', new_official_path
