%p
  %b
    Name:
  = h @procurement.name
%p
  %b
    Body:
  = h @procurement.body
%p
  %b
    Due at:
  = h @procurement.due_at
= link_to 'Edit', edit_procurement_path(@procurement)
|
= link_to 'Back', procurements_path
