<h1>Listing families</h1>

<table>
  <tr>
    <th>Name</th>
    <th>People count</th>
    <th>Revenue cents</th>
    <th>Kind</th>
    <th>State</th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%=h family.name %></td>
    <td><%=h family.people_count %></td>
    <td><%=h family.revenue_cents %></td>
    <td><%=h family.kind %></td>
    <td><%=h family.state %></td>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
    <td><%= link_to 'Destroy', family, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New family', new_family_path %>