<fieldset>
<legend>Setores Cadastrados</legend>

<% if session_user.adm == "SIM" %>
  <% @menu = 'home/menuAdm' %>
<% end %>

<table align="center" border='1' width="80%">
<tr>
<th>CÓDIGO</th>
<th>SETOR</th>
<th>AÇÃO</th>
</tr>

<% for sector in @sectors %>
  <tr>
    <td width="10%" align='center'class="td"><%=h (sector.id) %></td>
    <td width="80%" align='left'class="td"><%=h (sector.setor) %></td>
    <td width="10%" align='center' class="td">
    <%= tooltip link_to(image_tag("edit.png", {:border => 0}), :action => 'edit', :id => sector), { :tooltip => 'Editar Registro.' } %>&nbsp
    <%= tooltip link_to(image_tag("delete.png", {:border => 0}), {:action => 'destroy', :id => sector}, :method => :delete , :confirm => 'Confirma exclusão?'), { :tooltip => 'Deletar Registro.' }  %></td>
  <tr>
<% end %>
</table>
<br>
<p><%= will_paginate @sectors, :params => {:pesquisar => params[:pesquisar]} %></p>
<p align='right'>
  <%= link_to(image_tag('voltar.png', :border => 0), :action => 'index') %>
  </p>
</fieldset>
