.block
  .content
    .inner
      .column.left
        %h3= @group.name
        = show @group, :offical_name, :kind_text
        =l @group.started_at if @group.started_at
        %h3 Proprietarios
        - for holder in @group.holders
          %p= link_to holder.person.name, holder.person
      .column.right
        %h3 Contatos
        - for contact in @group.contacts
          %p
            %b= contact.kind
            = ": #{contact.value}"
        %h3 Documentos
        - for document in @group.documents
          = show document, :value
      .clear
    = link_to 'Edit', edit_group_path(@group)
    |
    = link_to 'Back', groups_path

