<% form_for :user, :url => { :action => "update_password", :id => @user } do |f| %>

<%= f.hidden_field :tipo_formulario, :value => "edita_password" %>
<table cellspacing="5" align='center'>

<tr align="left">
<td>Usuário:  <%= @user.login %> - <%= @user.nome %></td>
</tr>

<tr align="left">
<td>Senha Atual:<br>
<%= f.password_field :password_atual, 'size' => 40, 'maxlength' => 40  %></td>
</tr>

<tr align="left">
<td>Nova Senha:<br>
<%= f.password_field :password, 'size' => 40, 'maxlength' => 40  %></td>
</tr>

<tr align="left">
<td>Confirma Nova Senha:<br>
<%= f.password_field :password_confirmation, 'size' => 40, 'maxlength' => 40  %></td>
</tr>
</table>

<br>
<table cellspacing="5" align='center'>
<tr>
<td><%= f.submit button_name, :class => 'botao' %></td>
</tr>
</table>

<% end %>
