<% form_for(@user, :html => { :class => "form" }) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field "user",  "tipo_formulario", :value => "novo_usuario" %>

  <%= form_input(:login, :size => 40, :maxlength => 5, :class => 'campos') %>
  <%= form_input(:login, :label => "CPF") %>
  <%= form_input(:login, :password => true) %>

  <div class="group">
    <%= f.label "Senha", :html => { :class => :label} %>
    <%= f.password_field :password, :size => 40, :maxlength => 40  %>
  </div>

  <div class="group">
    <%= f.label "Confirma" %>
    <%= f.password_field :password_confirmation, :size => 40, :maxlength => 40  %>
  </div>

  <div class="group navform">
    <%= f.submit "Enviar", :class => 'button' %> ou <a href="/"> Cancelar </a>
  </div>
<% end %>
