<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Attachable</th>
    <th>Info</th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
     <%if attachment.media_content_type =~ /^image/%>
     <td><%=image_tag attachment.media.url(:thumb)%></td>
     <%else%>
     <td><%=image_tag "/images/mime/#{choose_icon attachment.media_file_name}"%></td>
     <%end%>
     <td><%=h attachment.info %></td>
     <td><%= link_to 'Show', attachment %></td>
     <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
     <td><%= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attachment', new_attachment_path %>