<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Contactable</th>
    <th>Kind</th>
    <th>Value</th>
    <th>Info</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%=h contact.contactable %></td>
    <td><%=h contact.kind %></td>
    <td><%=h contact.value %></td>
    <td><%=h contact.info %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_contact_path %>