<h1>Editing animal</h1>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :born_at %><br />
    <%= f.datetime_select :born_at %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :sex %><br />
    <%= f.check_box :sex %>
  </p>
  <p>
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label :fur %><br />
    <%= f.text_field :fur %>
  </p>
  <p>
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @animal %> |
<%= link_to 'Back', animals_path %>