%p
  %b
    Name:
  = h @animal.name
%p
  %b
    Born at:
  = h @animal.born_at
%p
  %b
    Age:
  = h @animal.age
%p
  %b
    Sex:
  = h @animal.sex
%p
  %b
    Kind:
  = h @animal.kind
%p
  %b
    Fur:
  = h @animal.fur
%p
  %b
    Race:
  = h @animal.race
= link_to 'Edit', edit_animal_path(@animal)
|
= link_to 'Back', animals_path