<h1>Listing storages</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Unit</th>
    <th>Value cents</th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%=h storage.amount %></td>
    <td><%=h storage.unit %></td>
    <td><%=h storage.value_cents %></td>
    <td><%= link_to 'Show', storage %></td>
    <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
    <td><%= link_to 'Destroy', storage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New storage', new_storage_path %>