%p
  %b
    Amount:
  = h @storage.amount
%p
  %b
    Unit:
  = h @storage.unit
%p
  %b
    Value cents:
  = h @storage.value_cents
= link_to 'Edit', edit_storage_path(@storage)
|
= link_to 'Back', storages_path
