- semantic_form_for(@calendar) do |f|
  = f.error_messages
  = f.input :day, :as => :string
  %p
    = f.label :business
    %br
    = f.check_box :business
  %p
    = f.label :yearly
    %br
    = f.check_box :yearly
  %p
    = f.label :note
    %br
    = f.text_area :note
  %p
    = f.submit 'Update'

= link_to 'Show', @calendar
|
= link_to 'Back', calendars_path
