%h1
  Listing calendars
%table
  %tr
    %th
      Day
    %th
      Business
    %th
      Yearly
    %th
      Note
  - @calendars.each do |calendar|
    %tr
      %td
        = h calendar.day
      %td
        = h calendar.business
      %td
        = h calendar.yearly
      %td
        = h calendar.note
      %td
        = link_to 'Show', calendar
      %td
        = link_to 'Edit', edit_calendar_path(calendar)
      %td
        = link_to 'Destroy', calendar, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New calendar', new_calendar_path
