%p
  %b
    Day:
  = h @calendar.day
%p
  %b
    Business:
  = h @calendar.business
%p
  %b
    Yearly:
  = h @calendar.yearly
%p
  %b
    Note:
  = h @calendar.note

= link_to 'Edit', edit_calendar_path(@calendar)
|
= link_to 'Back', calendars_path
