%h1
  Listing zones
%table
  %tr
    %th
      Name
  - @zones.each do |zone|
    %tr
      %td
        = h zone.name
      %td
        = link_to 'Show', zone
      %td
        = link_to 'Edit', edit_zone_path(zone)
      %td
        = link_to 'Destroy', zone, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New zone', new_zone_path
