- content_for :head do
  = stylesheet_link_tag "jquery/ui.theme", "jquery/jquery.wysiwyg"
  = javascript_include_tag "app/rich", "jquery/ui.datepicker", "jquery/jquery.wysiwyg"

- semantic_form_for(@law, :html => { :class => "form" }) do |f|
  = f.input :person_id
  = f.input :user_id
  =# f.input :parent_id
  = f.input :lft,           :input_html => { :size => 60 }
  = f.input :rgt,           :input_html => { :size => 60 }
  = f.input :kind,          :as => :select#, :collection => Law.get_kind_value
  = f.input :title,         :input_html => { :size => 60 }
  = f.input :code,          :input_html => { :size => 60 }
  = f.input :content,       :input_html => { :size => "60x20" }
  = f.input :wrote_at,      :as => :string, :input_html => { :id => "calendar" }
  = f.input :publicated_at, :as => :string, :input_html => { :class => "calendar" }
  = f.input :valid_at,      :as => :string, :input_html => { :id => "calendar" }
  = f.input :expire_at,     :as => :string, :input_html => { :id => "calendar" }
  .group.navform
    = f.submit 'Salvar', :class => :button
    ou
    = link_to 'Cancelar', laws_path
