<h1>Listing laws</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Wrote at</th>
    <th>Valid at</th>
  </tr>

<% @laws.each do |law| %>
  <tr>
    <td><%=h law.content %></td>
    <td><%=h law.wrote_at %></td>
    <td><%=h law.valid_at %></td>
    <td><%= link_to 'Show', law %></td>
    <td><%= link_to 'Edit', edit_law_path(law) %></td>
    <td><%= link_to 'Destroy', law, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New law', new_law_path %>