<h1>Editing province</h1>

<% form_for(@province) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pop %><br />
    <%= f.text_field :pop %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @province %> |
<%= link_to 'Back', provinces_path %>