<h1>Editing heritage</h1>

<% form_for(@heritage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :bought_at %><br />
    <%= f.date_select :bought_at %>
  </p>
  <p>
    <%= f.label :value_cents %><br />
    <%= f.text_field :value_cents %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @heritage %> |
<%= link_to 'Back', heritages_path %>