%h1
  Listing heritages
%table
  %tr
    %th
      Name
    %th
      Code
    %th
      Bought at
    %th
      Value cents
  - @heritages.each do |heritage|
    %tr
      %td
        = h heritage.name
      %td
        = h heritage.code
      %td
        = h heritage.bought_at
      %td
        = h heritage.value_cents
      %td
        = link_to 'Show', heritage
      %td
        = link_to 'Edit', edit_heritage_path(heritage)
      %td
        = link_to 'Destroy', heritage, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New heritage', new_heritage_path
