%p
  %b
    Name:
  = h @heritage.name
%p
  %b
    Code:
  = h @heritage.code
%p
  %b
    Bought at:
  = h @heritage.bought_at
%p
  %b
    Value cents:
  = h @heritage.value_cents
= link_to 'Edit', edit_heritage_path(@heritage)
|
= link_to 'Back', heritages_path
