      <div id='status'>
         <% if session_user.adm == "SIM" %>
           <%= tooltip link_to(image_tag('adm.png', {:class => 'linkbotao',:border => 0}),
           :controller => "home", :action => "menuAdm"), { :tooltip => 'Módulo Administrativo.'} %>
         <% end %>

         <% if session_user.ger == "SIM" %>
           <%= tooltip link_to(image_tag('ger.png', {:class => 'linkbotao',:border => 0}),
           :controller => "home", :action => "menuGer"), { :tooltip => 'Módulo Gerencial.'} %>
         <% end %>

         <% if session_user.opr == "SIM" %>
           <%= tooltip link_to(image_tag('opr.png', {:class => 'linkbotao',:border => 0}),
           :controller => "home", :action => "menuOpr"), { :tooltip => 'Módulo Operacional.'} %>
         <% end %>

        <%= tooltip  link_to(image_tag('printer.png', {:class => 'linkbotao',:border => 0}),
        :controller => :reports, :action => "index"), { :tooltip => 'Gerenciador de Impressão.'}  %>

         <%= tooltip  link_to(image_tag('agenda.png', {:class => 'linkbotao',:border => 0}),
        :controller => "#", :action => "#"), { :tooltip => 'Agenda de Compromissos.'}  %>

        <%= tooltip  link_to(image_tag('fone.png', {:class => 'linkbotao',:border => 0}),
        :controller => "#", :action => "#"), { :tooltip => 'Agenda de Telefones.'}  %>

        <%= tooltip  link_to(image_tag('senha.png', {:class => 'linkbotao',:border => 0}),
        :controller => :users, :action => "show_password"), { :tooltip => 'Altera Senha.'}  %>

        <%= tooltip link_to(image_tag('sair.png', {:class => 'linkbotao',:border => 0}),
         :controller => "login", :action => "logout" ), { :tooltip => 'Sair do Sistema.' } %>

      </div>


      <div id='status1'>Olá, usuário <%= session_user.login %>.&nbsp&nbsp&nbsp&nbsp&nbsp</div>

      <div id='menu'><b><%= render :partial => @menu %></b></div>
